.invocation-failed,  .test-failed  { background-color: #DD0000; }
.invocation-percent, .test-percent { background-color: #006600; }
.invocation-passed,  .test-passed  { background-color: #00AA00; }
.invocation-skipped, 

.main-page {
  font-size: x-large;
}

